In [2]:
import pandas as pd

# OPENING FILES (ENTIRELY OR CHUNKS AT A TIME)

#df = pd.read_csv('C:/Users/Jason/Desktop/Coding/projects/data/pokemon_data.csv')

#1) if textfile: df = pd.read_csv('filename', delimiter = '\t')

#2) if excelfile: df = pd.read_excel('filename')

#3) if you want to read in only n number of rows at a time (e.g. file is too large to handle at once):
#df = pd.read_csv('filename', chunksize = n)

#4) To combine the chunks or different dataframes together:
#df = pd.concat([df,new_df]) -> this will append new_df to df

In [7]:
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False

In [9]:
df.tail(5)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

# GETTING SPECIFIC COLUMNS, ROWS, AND INFORMATION FROM THE TABLE

# 1) Read Headers (Column Names)
#df.columns

#2) Read a specific column
#df['Name']
#if you want multiple columns: 
#df[['Name','Type1',etc]]

#3) if you want certain items only within this/these column: 
#df[['Name','Type 1']][1:3]

#4) Read a specific row. iloc stands for 'integer location'
#df.iloc[1]
#if you want a range of rows: 
#df.iloc[n:m]

#5) Read a specific location (R,C):
#df.iloc[2,1]

#6) To iterate through and get information on each row, or specific information on each row:
#for index, row in df.iterrows():
    #print(index,row) - this gives full information on each row one by one
    #or print(index,row['Name']) - this only gives the 'Name' in each row

#7) To find rows that contain a specific value for a given category:
#df.loc[df['Type 1'] == 'Fire']

#8) To do #7) but with multiple conditions:
#df.loc[(df['Type 1'] == 'Fire') & (df['Type 2'] == 'Poison')]
#You can do the same but 'or' but using '|' instead of '&'

#9) To filter out rows that contain certain words or numbers in a column:
#df.loc[df['Name'].str.contains('Mega')]
#If you want to get the reverse (the ones that don't contain 'Mega' in this case), do: df.loc(~df['Name'].str.contains('Mega')]

#Keep in mind that you can create new tables based on filtered data, and even save it as a new CSV/EXCEL file
#When you filter data (say this new table is called new_df), the old index stays (for some reason). To reset the index, you can do: new_df = new_df.reset_index(drop = True) -> the drop = True drops the old index.
#If you want to do the above but don't want to create a new list, add the argument 'inplace = True'

# GETTING DESCRIPTIVE STATISTICS FROM YOUR DATA

#df.describe()

# SORTING YOUR DATA BASED ON COLUMN HEADINGS

#1) You can sort your table by any of the columnn headings.
df.sort_values('Name')

#2) You can make it in reverse order by:
#df.sort_values('Name',ascending = False)

#3) You can sort based on multiple columns by:
df.sort_values(['Name','HP'],ascending = True/False)

#4) If you want to sort such that first heading is in increasing and second heading is in decreasing order:
#df.sort_values(['Name','HP'],ascending = [1,0])

In [36]:
df.sort_values(['Type 1','HP'], ascending = False)

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
351,321,Wailord,Water,NaN,170,90,45,90,45,60,3,False
655,594,Alomomola,Water,NaN,165,75,80,40,45,65,5,False
142,131,Lapras,Water,Ice,130,85,80,85,95,60,1,False
145,134,Vaporeon,Water,NaN,130,65,60,110,95,65,1,False
350,320,Wailmer,Water,NaN,130,70,35,70,35,60,3,False
...,...,...,...,...,...,...,...,...,...,...,...,...
314,290,Nincada,Bug,Ground,31,45,90,30,30,40,3,False
462,415,Combee,Bug,Flying,30,30,42,30,42,70,4,False
603,543,Venipede,Bug,Poison,30,45,59,30,39,57,5,False
230,213,Shuckle,Bug,Rock,20,10,230,10,230,5,2,False
316,292,Shedinja,Bug,Ghost,1,90,45,30,30,40,3,False

# Making Changes to the Table

#1) Adding a new column, say the 'Total' column which is the sum of the numerical columns:
#df['Total'] = df['HP'] + df['Attack'] + ... + df['Speed']
#While this works, it's not the quickest in terms of processing speed.
#df['Total'] = df.iloc[:, 4:10].sum(axis=1) -> the first : specifies for which rows. The second : specifies which columns. Axis = 0 is adding vertically, axis = 1 is adding horizontally.

#2) Dropping a column/columns:
#df = df.drop(columns = ['Total']) -> you basically need to reset the memory 

#3) Changing the order of the columns:
#df = df[['New_header1','New_header2',etc]] -> This works, but if you have a lot of columns this is inefficient.
#Make a list of column values = cols = list(df.columns.values) and then df = df[cols[0:4]+[cols[-1]]+cols[4:12]]

#4) Conditional changes:
#df.loc[df['Type 1'] == 'Fire', 'Type 1'] == 'Flamer' -> This will change the Type 1 name 'Fire' to 'Flamer'.
#df.loc[df['Type 1'] == 'Fire', 'Legendary'] == True -> This will make it so that any Fire type is a Legendary
#If you want to modify multiple conditions at the same time:
#df.loca[df['Total'] > 500, ['Generation','Legendary'] = ['New Value 1', 'New Value 2']

In [44]:
df

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,309,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,600,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,700,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,600,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,680,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,600,80,110,120,130,90,70,6,True

# SAVING YOUR CHANGED/CLEANED DATAFRAME TO A NEW FILE

#1) Write the changed/cleaned dataframe into a new file:
#df.to_csv('modified.csv')

#2) If you want to save without the index, you can do:
#df.to_csv('modified.csv',index = False)

#3) You can save to excel by using to_excel, and to txtfile by to_csv(...,sep ='\t')

In [50]:
df.loc[(df['Type 1'] == 'Grass') & (df['Type 2'] == 'Poison')]

,#,Name,Type 1,Type 2,Total,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,318,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,405,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,525,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,625,80,100,123,122,120,80,1,False
48,43,Oddish,Grass,Poison,320,45,50,55,75,65,30,1,False
49,44,Gloom,Grass,Poison,395,60,65,70,85,75,40,1,False
50,45,Vileplume,Grass,Poison,490,75,80,85,110,90,50,1,False
75,69,Bellsprout,Grass,Poison,300,50,75,35,70,30,40,1,False
76,70,Weepinbell,Grass,Poison,390,65,90,50,85,45,55,1,False
77,71,Victreebel,Grass,Poison,490,80,105,65,100,70,70,1,False
344,315,Roselia,Grass,Poison,400,50,60,45,100,80,65,3,False
451,406,Budew,Grass,Poison,280,40,30,35,50,70,55,4,False
452,407,Roserade,Grass,Poison,515,60,70,65,125,105,90,4,False
651,590,Foongus,Grass,Poison,294,69,55,45,55,55,15,5,False
652,591,Amoonguss,Grass,Poison,464,114,85,70,85,80,30,5,False

# AGGREGATE STATISTICS (GROUPBY)

#1) Say you want to find the average value based on the type of pokemon:
#df.groupby(['Type 1']).mean().sort_values('HP') -> By default, it sorts by 'Type 1', but we can change that.

#2) Some other functions you can use are: sum(), count()

#3) You can also groupby multiple categories: 
df.groupby(['Type 1', 'Type 2']).count()['Name'] -> Just count the number elements by column 'Name'